body{
  background-color:#f7f7f9 !important;
}
.custom-sidenav{
  height: 100vh;
  position: fixed;
  margin: none!important;
  left: -10px;

}
.nav-link:hover{
background-color:#000;
}
.dark-grey{
  background-color: #353535;
}
.custom-active{
background-color: #007bff;
}
